.greeting {
	background-image: url('../../../Images/wallpapers.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-attachment: fixed;
	height: 100%;
	width: auto;
	position: relative;
	min-height: 100%;
	padding: 4% 15%;
	display: block;
}

.rules {
	max-width: 45%;
	display: block;
}

.rules p {
	font-size: 1.25em;
	margin-left: 15%;
	font-family: "YesevaOne", serif;
	font-weight: bold;
	color: rgb(28, 107, 114);
	line-height: 1.5;
}

.title {
	margin-bottom: 15%;
}

.introduction {
	width: 450px;
	display: none;
}

.introduction>ul {
	padding-left: 0;
}

.form-fields {
	justify-content: left;
	color: rgb(28, 107, 114);
}

.form-fields input {
	height: 35px;
	width: 280px;
	border-radius: 7px;
	padding: 5px;
	margin-bottom: 5px;
}

.form-fields div {
	text-align: left;
}

.difficulties {
	color: rgb(28, 107, 114);
}

.difficulties label {
	margin-right: 15px;
}

.difficulties input {
	margin-right: 10px;
	transform: scale(1.5);
}

li {
	width: 28%;
	float: left;
	display: block;
	margin: 5px;
	cursor: pointer;
}

li img {
	max-width: 100%;
}

.introduction>ul li img:hover {
	opacity: 1;
}

.choose {
	opacity: 0.6;
}

.active {
	opacity: 1;
}
